:root {
  --electric-blue: #0d98ff;
  --electric-purple: #ff00ff;
  --lighter-purple: #d500f9;
  --lighter-background: #1e1e1e;
  --light-gray: #ccc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('https://source.unsplash.com/1920x1080/?cyberpunk');
  background-size: cover;
  background-position: center;
  color: var(--electric-blue);
  font-family: "Roboto", sans-serif;
  text-align: center;
}

h1, h3 {
  text-align: center;
  color: var(--electric-blue);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

button, .button, .submit {
  cursor: pointer;
  padding: 8px 20px;
  border: none;
  border-radius: 3px;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s;
}

button:hover, .button:hover, .submit:hover {
  background-color: var(--electric-purple);
}

/* Form elements */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
textarea {
  background: transparent;
  color: var(--electric-blue);
  border: 1px solid var(--electric-blue);
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 10px;
  width: calc(100% - 20px);
}

.box, .container {
  background-color: var(--lighter-background);
  border-radius: 5px;
  padding: 20px;
  margin: 20px auto;
  max-width: 800px; 
  box-shadow: 0 0 10px rgba(0, 240, 0, 0.1);
}

.boxMessages {
  background-color: var(--lighter-background);
  border-radius: 5px;
  padding: 20px;
  margin-left: 10px;
  margin-top: 2rem;
  box-shadow: 0 0 10px rgba(0, 240, 0, 0.1);
}

.cart {
  max-width: 800px;
}

.cart-header, .cart-title {
  text-align: center;
  margin-bottom: 20px;
  color: var(--electric-blue);
}

.cart-items, .cart-item {
  margin-bottom: 20px;
}

.item-image img {
  max-width: 100px;
  border-radius: 5px;
}

.item-details {
  flex: 1;
}

.item-name {
  color: var(--electric-blue);
  font-weight: bold;
}

.item-description {
  color: var(--light-gray);
}

.item-price {
  color: var(--lighter-purple);
  font-weight: bold;
}

.item-actions {
  display: flex;
  align-items: center;
}

.remove-item {
  padding: 5px 10px;
  background-color: var(--electric-purple);
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.remove-item:hover {
  background-color: var(--lighter-purple);
}

.cart-total {
  text-align: right;
  margin-bottom: 20px;
}

.cart-total p {
  font-weight: bold;
}

.cart-actions {
  display: flex;
  justify-content: flex-end;
}

.checkout-btn, .clear-cart-btn {
  padding: 10px 20px;
  background-color: var(--electric-purple);
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 10px;
}

.checkout-btn:hover, .clear-cart-btn:hover {
  background-color: var(--lighter-purple);
}

.nav_list {
  list-style: none;
  padding: 0;
  background: var(--lighter-background);
  width: 90%;
  max-width: 1000px;
  height: 80px;
  margin: auto;
}

.nav_list li a {
  padding: 20px;
  display: block;
}

.nav__item {
  display: inline-block;
  text-align: center;
  margin: 0 0 0 1.5rem;
}

.nav_link {
  color: var(--electric-blue);
  text-transform: uppercase;
  text-decoration: none;
}