* {
  background-color: #080808; /* Dark gray */
  color: #66ff00; /* Neon green */
  font-family: "Arial", sans-serif;
}

hr {
  width: 100%;
  border-color: #66ff00; /* Neon green */
}

h3,
h1 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #66ff00; /* Neon green */
}

input {
  background: #080808; /* Dark gray */
  color: #66ff00; /* Neon green */
  border: 1px solid #66ff00; /* Neon green */
  border-radius: 5px;
  padding: 8px;
}

button {
  cursor: pointer;
  padding: 8px;
  border: none;
  border-radius: 3px;
  background-color: #66ff00; /* Neon green */
  color: #080808; /* Dark gray */
  transition: background-color 0.3s;
}

button:hover {
  background-color: #00ffff; /* Cyan */
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #080808; /* Dark gray */
  border: 1px solid #66ff00; /* Neon green */
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
}

.products-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.products-form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #66ff00; /* Neon green */
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  background-color: #080808; /* Dark gray */
}

.product-card {
  border: 1px solid #66ff00; /* Neon green */
  border-radius: 5px;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  margin: 10px;
  flex: 1 1 calc(25% - 20px);
  max-width: calc(50% - 20px);
  background-color: #080808; /* Dark gray */
}

.products-form form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.products-form input {
  margin-bottom: 10px;
}

#button-create,
#button-delete {
  background-color: #66ff00; /* Neon green */
  color: #080808; /* Dark gray */
}

body {
  background-color: #080808; /* Dark gray */
  color: #66ff00; /* Neon green */
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  text-align: center;
  margin-top: 2rem;
  color: #66ff00; /* Neon green */
}

input {
  margin-bottom: 10px;
  border-radius: 5px;
  height: 2rem;
  font-family: "Montserrat", sans-serif;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.boxMessages {
  margin-left: 10px;
  margin-top: 2rem;
  background-color: #080808; /* Dark gray */
  color: #66ff00; /* Neon green */
}

.red {
  color: #ff0000; /* Red */
}

.black {
  color: #080808; /* Dark gray */
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #080808; /* Dark gray */
}

h1 {
  text-align: center;
  color: #66ff00; /* Neon green */
}

.boxMessages {
  background-color: #080808; /* Dark gray */
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 240, 0, 0.1);
}

#messagesLogs {
  overflow-y: scroll;
  max-height: 200px;
}

.box {
  background-color: #080808; /* Dark gray */
  border-radius: 5px;
  padding: 20px;
  margin: 0 auto;
  margin-top: 100px;
  max-width: 400px;
  box-shadow: 0 0 10px rgba(0, 240, 0, 0.1);
}

input[type="text"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #66ff00; /* Neon green */
  border-radius: 5px;
}

#submitContainer {
  text-align: center;
}

#submitBtn {
  padding: 10px 20px;
  background-color: #66ff00; /* Neon green */
  color: #080808; /* Dark gray */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#submitBtn:hover {
  background-color: #00ffff; /* Cyan */
}

.next,
.prev {
  padding: 10px 30px; /* Increased padding */
  background-color: #66ff00; /* Neon green */
  color: #080808; /* Dark gray */
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  margin: 2rem;
  text-decoration: none;
  width: 100px; /* Adjusted width */
  display: inline-block; /* Prevent stacking */
  transition: background-color 0.3s;
}

.next:hover,
.prev:hover {
  background-color: #00ffff; /* Cyan */
}

.add-to-cart-button {
  background-color: #66ff00; /* Neon green */
  color: #080808; /* Dark gray */
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

.add-to-cart-button:hover {
  background-color: #00ffff; /* Cyan */
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #080808; /* Dark gray */
}

h1 {
  text-align: center;
  color: #66ff00; /* Neon green */
}

.box {
  background-color: #080808; /* Dark gray */
  border-radius: 5px;
  padding: 20px;
  margin: 0 auto;
  margin-top: 100px;
  max-width: 400px;
  box-shadow: 0 0 10px rgba(0, 240, 0, 0.1);
}

h1,
h3 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #66ff00; /* Neon green */
}

input {
  margin-bottom: 10px;
  border-radius: 5px;
  height: 2rem;
  font-family: "Montserrat", sans-serif;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.boxMessages {
  background-color: #080808; /* Dark gray */
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 240, 0, 0.1);
}

.boxMessages {
  margin-left: 10px;
  margin-top: 2rem;
  color: #66ff00; /* Neon green */
}

.red {
  color: #ff0000; /* Red */
}

.black {
  color: #080808; /* Dark gray */
}

.products-form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #66ff00; /* Neon green */
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  background-color: #080808; /* Dark gray */
}

.products-form form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.products-form input {
  margin-bottom: 5px;
}

.button {
  cursor: pointer;
  padding: 5px;
}

.button-create,
.button-delete {
  background-color: #66ff00; /* Neon green */
  color: #080808; /* Dark gray */
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
}

.button-create:hover,
.button-delete:hover {
  background-color: #00ffff; /* Cyan */
}

#submitContainer {
  text-align: center;
}

#submitBtn {
  padding: 10px 20px;
  background-color: #66ff00; /* Neon green */
  color: #080808; /* Dark gray */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#submitBtn:hover {
  background-color: #00ffff; /* Cyan */
}

.submit {
  background-color: #66ff00; /* Neon green */
  color: #080808; /* Dark gray */
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
}
